body {
 background-color: #83fca6;
 background-image: url(/static/stars.jpg);
 background-repeat-y:no-repeat;
 background-attachment: fixed;
 color:#c2ffff;
}
body *{
  font-family:arial;
}

h1,h2,h3,h4,h5{
  font-weight:normal;
  margin:0;
}

a,a:hover,a:visited{
  color:#94ff8a;
  text-decoration:none;
}
.wrapper{
  max-width:960px;
  margin:0 auto;
}
div.wrapper h1{
  text-align:center;
  margin:80px auto;
  font-size:2.8em;
}
header{
  display:grid;
  grid-template-columns:1fr 1fr;
  padding:20px 0;
}
nav li{
  display:inline-block;
  margin-left:15px;
}
nav button{
  font-family:arial-bold;
  background: #7cf76b;
  color: #22465f;
  cursor:pointer;
  border:2px solid #0073c7;
  font-size:1.4em;
  border-radius:8px;
}
.articles{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:30px;
}
.article{
  padding:10px;
  border:1px solid #00dba0;
  position:relative;
  padding-bottom:40px;
}
.article h2{
  font-size:1.2em;
}
.article .author{
  padding:10px;
  background-color:#00dba1;
  position:absolute;
  right:0px;
  bottom:0;
  margin:0;
  color:#0f121f
}
.article_detail .article{
  padding:0;
}
.article_detail .article img{
  max-width:100%;
}
.article_detail .article h2{
  text-align:center;
  font-size:2em;
}
.article_detail .article p{
  text-align:center;
}
.site-form{
  margin-top:60px;
  border:1px solid #4eccd7;
  padding:20px;
}
.site-form input,.site-form textarea{
  display:block;
  margin:20px 0 0 0;
  padding:5px
}
a.highlight{
  font-family:arial-bold;
  padding:2px;
  background: #7cf76b;
  color: #22465f;
  cursor:pointer;
  border:2px solid #0073c7;
  font-size:1.4em;
  border-radius:8px;
}
a.login-button{
  font-family:arial-bold;
  padding:2px;
  background: #7cf76b;
  color: #22465f;
  cursor:pointer;
  border:2px solid #0073c7;
  font-size:1.4em;
  border-radius:8px;
}
a.signup-button{
  font-family:arial-bold;
  padding:2px;
  background: #7cf76b;
  color: #22465f;
  cursor:pointer;
  border:2px solid #0073c7;
  font-size:1.4em;
  border-radius:8px;
}
.helptext,.helptext ul{
  margin:0 auto 20px;
  color:#e6ffff;
  font-size:0.9em;
  display:block;
}
.errorlist li{
  background:#ff5314;
  padding:10px;
  list-style-type:none;
  border:3px solid #cd0000;
  color:#042060;
  margin:10px 0;
}
.errorlist{padding:0;}
.site-form input[type="submit"]{
  border:0;
  color:#0a1568;
  font-size:1.2em;
  background:#15916c;
  border-radius:4px;
  margin:10px 0;
}
a.logo-button{
  font-family:arial-bold;
  padding:2px;
  background: #7cf76b;
  color: #22465f;
  cursor:pointer;
  border:2px solid #0073c7;
  font-size:1.4em;
  border-radius:8px;
}
